.footer-bg {
  margin-top: 70px;
  height: 120px;
  background: #660027;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.footer-content p {
  color: #fff;
  line-height: 1px;
}

.footer-bg-contact {
  display: none;
  margin-top: 70px;
  height: 120px;
  background: #660027;
}