.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista ul {
  display: flex;
  gap: 28px;
}

.lista ul li a {
  color: #000;
}


@media (max-width: 834px) {
  .header {
    width: 595px;
  }
}

@media (max-width: 428px) {
  .header {
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .lista ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
}