.cards-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.cards {
  width: 250px;
  height: 410px;
  border: 1px solid #9E9B9B;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  box-shadow:
    0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.cards:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.cards-content-text {
  padding: 16px 25px 42px 28px;
}

.cards-content-text h2 {
  font-size: 1.5rem;
  color: #660027;
}

.cards-content-text p {
  color: #7D7777;
}

.button {
  margin-top: 20px;
  width: 128px;
  height: 42px;
  background: #FFFFFF;
  border: 2px solid #660027;
  border-radius: 4px;
  color: #660027;
  transition: ease-out 0.3s;
  outline: none;
  position: relative;
  z-index: 1;
}

.button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #660027;
}

.button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@media (max-width: 768px) {
  .cards-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 595px;
    width: 100%;
    gap: 38px;
  }
}

@media (max-width: 541px) {
  .cards-content {
    width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 428px) {
  .cards-content {
    width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}