.conteudo-principal {
  max-width: 1200px;
  width: 100%;
  padding: 23px;
}

.conteudo-principal img {
  width: 100%;
}

.conteudo-principal h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #660027;
}

.conteudo-principal p {
  text-align: justify;
}