.conteudo-principal {
  padding: 23px;
  max-width: 1200px;
  width: 100%;
}

.conteudo-principal img {
  width: 100%;
}

.conteudo-principal h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #660027;
}

.conteudo-principal p {
  text-align: justify;
}

@media (max-width: 768px) {
  .conteudo-principal {
    width: 595px;
    width: 100%;
  }

  .conteudo-principal img {
    display: none;
  }
}

@media (max-width: 428px) {
  .conteudo-principal {
    width: 320px;
    width: 100%;
  }
}